@keyframes loading{
    0% {opacity: 0}
    50% {opacity: 20}
    100% {opacity: 0}
}

@keyframes intro1 {
    0% { transform: scale(0); opacity: 0;}
    50% { transform: scale(1); opacity: 100;}
    75% {transform: scale(.9);}
    100% {transform: scale(1);}
}
@keyframes intro2 {
    0% {height: 100vh;}
    100% {height: 70vh;}
}
@keyframes intro3 {
    0% {margin-top: 10vh; opacity: 0;}
    100% {margin-top: -5vh; opacity: 100;}
}
@keyframes intro4 {
    from { bottom: -70px; }
    to { bottom: 0px;}
}

@keyframes appear {
    from { transform: scale(0);}
    to { transform: scale(1);}
}

@keyframes disappear {
    from { transform: scale(1);}
    to { transform: scale(0);}
}

/* WEBKIT ANIMATIONS */
@-webkit-keyframes intro1 {
    0% { transform: scale(0); opacity: 0;}
    50% { transform: scale(1.1); opacity: 100;}
    100% {transform: scale(1);}
}
@-webkit-keyframes intro2 {
    0% {height: 100vh;}
    100% {height: 70vh;}
}
@-webkit-keyframes intro3 {
    0% {margin-top: 10vh; opacity: 0;}
    100% {margin-top: -5vh; opacity: 100;}
}
@-webkit-keyframes intro4 {
    from { bottom: -70px; }
    to { bottom: 0px;}
}

@-webkit-keyframes appear {
    from { transform: scale(0);}
    to { transform: scale(1);}
}

@-webkit-keyframes disappear {
    from { transform: scale(1);}
    to { transform: scale(0);}
}

/* MOZ ANIMATIONS */
@-moz-keyframes intro1 {
    0% { transform: scale(0); opacity: 0;}
    50% { transform: scale(1.1); opacity: 100;}
    100% {transform: scale(1);}
}
@-moz-keyframes intro2 {
    0% {height: 100vh;}
    100% {height: 70vh;}
}
@-moz-keyframes intro3 {
    0% {margin-top: 10vh; opacity: 0;}
    100% {margin-top: -5vh; opacity: 100;}
}
@-moz-keyframes intro4 {
    from { bottom: -70px; }
    to { bottom: 0px;}
}

@-moz-keyframes appear {
    from { transform: scale(0);}
    to { transform: scale(1);}
}

@-moz-keyframes disappear {
    from { transform: scale(1);}
    to { transform: scale(0);}
} */


.loading{
    animation: loading 2s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
}
main{
    width: 100%;
    margin: auto;
}
@media (min-width: 911px){
    main{width: 60%;}
}
/* Animations */
.intro1{
    animation: intro1 2s ease-out;
}
.intro2{
    animation: intro2 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.intro3{
    animation: intro3 1s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.intro4{
    animation: intro4 0.5s ease-in;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

header{
    margin-bottom: 50px;
    width: 100%;
    height: 100vh;
    text-align: center;
}
header small{
    margin-top: 0;
}
header figure{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

header img{
    height: 100%;
    display: block;
}

.social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    border-bottom: 1px solid dodgerblue;
    margin-top: 50px;
}
h3{
    margin-bottom: 0;
}
.social-media-title{
    margin-bottom: 10px;
}
.social-media a{
    height: 75px;
    margin: 10px;
}
.social-media figure{
    height: 100%;
    margin: 0;
}
.social-media img{
    height: 100%;
    margin: 0;
}


.prioWidth{
    max-width: 100vw;
    max-height: 100vh;
}

/* main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
} */
main{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: dodgerblue;

    opacity: 0;
    margin-bottom: 150px;
    text-align: center;
}
#thumbnails-view-container{

    display: flex;
    flex-direction: column;
}

.thumbnails-view{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.thumbnails-view figure{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: white;
}
.thumbnails-view figure div{
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.thumbnails-view figure img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.2s ease-out;
}
video{
    margin: 5px;
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    max-height: 150px;
    background-color: black;
}
.video-play{
    width: 90%;
    height: 80vh;
    max-height: 80vh;
    max-width: 100%;
    /* position: absolute; */
    box-shadow:0 0 5vw black;

}

@media only screen and (orientation: landscape) {
    .thumbnails-view img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: .2s ease-in;
        cursor: pointer;
    }
    .thumbnails-view img:not(:hover){
        filter: opacity(70%);
    }
    #gallery-view img{
        height: 80%;
        max-width: 80%;
    }
}

@media only screen and (orientation: portrait) {
    #gallery-view img{
        width: 90%;
    }
}

#gallery-view-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
}

#gallery-view{
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}
#gallery-view figure{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#gallery-view img{
    align-self: center;
    /* height: 80vh; */
    box-shadow:0 0 5vw black;
}



footer{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-stretch: extra-expanded;
    background-color: white;
    color: #00bac0ff;
    position: fixed;
    bottom: -70px;
    width: 100%;
    text-align: center;

}
footer p{
    margin: 10px;
}

.appear{
    display: flex!important;
    -webkit-animation: appear 0.2s ease-in;
    -moz-animation: appear 0.2s ease-in;
    animation: appear 0.2s ease-in;
    animation-fill-mode: forwards;
}
.disappear{
    display: none!important;
    -webkit-animation: disappear 0.2s ease-out;
    -moz-animation: disappear 0.2s ease-out;
    animation: disappear 0.2s ease-out;
    animation-fill-mode: forwards;
}
