html, body{
    position: relative;
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
}

header{
    padding: 0;
    width: 100%;
    height: 100vh;
    animation: intro2 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
header img{
    width: 100%;
    height: 100%;
    animation: intro1 0.75s ease-out;
}

/* main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
} */

#thumbnails-view{
    animation: intro3 1s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
}

#thumbnails-view figure{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: white;
}
#thumbnails-view figure div{
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#thumbnails-view figure img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.2s ease-out;
}

@media only screen and (orientation: landscape) {
    #thumbnails-view img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: .2s ease-in;
        cursor: pointer;
    }
    #thumbnails-view img:not(:hover){
        filter: opacity(70%);
    }
    #gallery-view img{
        height: 80vh;
    }
}

@media only screen and (orientation: portrait) {
    #gallery-view img{
        width: 100%;
    }
}

#gallery-view-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
}

#gallery-view{
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}
#gallery-view figure{
    justify-content: center;
    align-items: center;
    margin: 0;
}
#gallery-view img{
    padding: 5%;
    /* height: 80vh; */
    background-color: rgba(0,0,0,0.7);
    border-radius: 20%;
}



footer{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-stretch: extra-expanded;
    background-color: white;
    color: #00bac0ff;
    position: fixed;
    bottom: -70px;
    width: 100%;
    text-align: center;
    animation: intro4 0.5s ease-in;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
footer p{
    margin: 10px;
}

@keyframes intro1 {
    0% { transform: scale(0); opacity: 0;}
    50% { transform: scale(1.1); opacity: 100;}
    100% {transform: scale(1);}
}
@keyframes intro2 {
    0% {height: 100vh;}
    100% {height: 70vh;}
}
@keyframes intro3 {
    0% {margin-top: 10vh; opacity: 0;}
    100% {margin-top: -5vh; opacity: 100;}
}
@keyframes intro4 {
    from { bottom: -70px; }
    to { bottom: 0px;}
}

@keyframes appear {
    from { transform: scale(0);}
    to { transform: scale(1);}
}

@keyframes disappear {
    from { transform: scale(1);}
    to { transform: scale(0);}
}

.appear{
    display: flex;
    webkit-animation: appear 0.2s ease-in;
    animation: appear 0.2s ease-in;
    animation-fill-mode: forwards;
}
.disappear{
    display: none;
    webkit-animation: disappear 0.2s ease-out;
    animation: disappear 0.2s ease-out;
    animation-fill-mode: forwards;
}
